:host{
    height: 10%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0px 10px;
}
.info-section{   
    display: flex;
    height: 80%;
    align-self: center;
    .menu-section, .account-section, .search-section {
        display: inline-block;
        ul {
            list-style:none;
            margin-top: 5px;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    width: 85px;
                    text-align: center;
                    height: 100%;
                    line-height: 35px;
                    text-decoration: none;
                    color: #00000094;
                    transition: 0.3s;
                }
                a:hover{
                    transform: translateY(1.75px);
                    color:black;
                }
            }
        }
    }
    .menu-section{
        ul {
            border-right : 2.5px solid #33333380
        }
    }
    .search-section {
        margin: 0px 25px;
        line-height: 48px;
        img{
            transform: translateY(6px);
            cursor: pointer;
            transition: 0.3s;
        }
        input#search {
            transition: 0.3s;
            border-radius: 20px;
            height: 28%;
            font-size: 20px;
            width: 0;
            padding: 0;
            border:none;
        }
    }
    .search-section.active{
        img{
            transform: translateX(31px) translateY(5px);
        }
        input#search {
            width: 300px;
            padding: 10px 35px;
            border: 1px solid #333;
            cursor: pointer;
            outline: none;
        }
    }
}