

.book {
    width: 200px;
    display: inline-block;
    text-align: center;
    padding: 0.5rem;

}

.book > img {
    width: 100%;
}
.book > h3 {
    text-align: center;
}
.book button {
}

.no-content {
    text-align: center;
    padding: 2rem;
}