
:host {
    display: block;
}
.bookshelf {
    display: flex;
    flex-wrap: wrap;
}
.book {
    width: calc((960px / 3) - 2rem);
    text-align: center;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.no-content {
    text-align: center;
    padding: 2rem;
}

.header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}