
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto+Slab');
:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: 1s;
    .img-container {
        width: 100%;
        max-height: 100%;
        transition: 0.5s;
        img {
            max-width: 100%;
            transition: 0.5s;
        }
    }
    h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: normal;
        font-size: 20px;
        width: 100%;
        transition: 0.5s;
    }
    a{
        text-decoration: none;
        color: #333;
        display: inline-block;
        background: #fff;
        padding: 10px 25px;
        text-transform: uppercase;
        border-radius: 20px;
        font-weight: bold;
        font-family: Roboto;
        align-self: center;
        margin-top: 40px;
        box-shadow: 1px 3px 9px 0 rgba(0,0,0,.2);
        transition: 0.5s;
    }
}
