:host {
  display: block;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: calc((960px / 3) - 2rem);
  text-align: center;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.no-content {
  text-align: center;
  padding: 2rem;
}

.header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.control {
  border: none;
  font-size: 1.5rem;
  border-radius: 100%;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 0.2);
  margin-left: 1rem;
}

button:focus {
  outline: none;
}

.control span {
  width: 1.5rem;
}
mat-paginator {
  
}