:host{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.banner-container{    
    width: 92%;
    height: 100%;
    display: flex;       
    background: linear-gradient(to bottom right,#b7f391,#33f5e3);
    .img-container {
        height: 80%;
        width: 50%;
        align-self: center;
        transform: translateX(-12%);
        img {
            width: 100%;
            height: 100%;
        }
    }
    .some-text{
        height: 60%;
        width: 50%;
        -ms-grid-row-align: center;
        align-self: center;
        text-align: left;
        p{
            font-family: arial;
            font-size: 1.8em;
            margin-bottom: 1.8rem;
        }
        h1{       
            font-size: 4.8rem;
            font-family: arial;
            margin-bottom: 2rem;
        }
        button{
            background: black;
            border: none;
            color: white;
            font-size: 13px;
            border-radius: 50px;
            padding: 15px 40px;
            font-weight: bold;
            cursor: pointer;
            transition:0.2s;
        }
        button:hover{
            color:black;
            background: white;
        }
    }
}